* {
    outline: 2px dotted grey;
}

/* variables */
:root {
    /* colors */
    --primary-colour: #3F7D58;
    --secondary-colour: #262A2D;
    --grey-colour-200: #F2F2F2;
    --font-colour-400: #121212;
    --font-colour-800: #636363;

    /* fonts */
    --font-body: font-family: 'Open Sans', sans-serif;
    --font-heading: font-family: 'Montserrat', sans-serif;

    /* Mobile-first font sizes */
    --font-size-h1: 36px;
    --font-size-h2: 28px;
    --font-size-h3: 22px;
    --font-size-h4: 18px;
    --font-size-body: 14px;
    --font-size-cta: 12px;

}

/* base styles */
body {
    font-family: var(--font-body);
    font-size: var(--font-size-body);
    color: var(--font-colour-400);
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
    overflow-y: auto;


}

/* headings */
h1,
h2,
h3,
h4 {
    font-family: var(--font-heading);
    margin: 0;

}

h1 {
    font-size: var(--font-size-h1);
}

h2 {
    font-size: var(--font-size-h2);
}

h3 {
    font-size: var(--font-size-h3);
}

h4 {
    font-size: var(--font-size-h4);
}




/* reset default styles */


p {
    margin: 0;
    font-size: var(--font-size-body);
    color: var(--font-colour-800);
    font-family: 'Open Sans';
}

li {
    text-decoration-style: none;
    list-style: none;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.navbar {
    display: inline;



}

.navbar button {
    position: absolute;
    top: 0;
    right: 0;
}

#nav-items {
    display: none;
    flex-direction: column;
    padding: 0 10px;
    margin: 0;
}

/* toggle button for handburger menu */
#nav-items.active {
    display: flex;
}

.nav-links {
    padding: 10px 0;
}

#nav-items div {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;
}


/* HERO */

/* top agro researches container */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.round {
    background-color: #EEEEEE;
    width: 221px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 24px;
    align-items: center;
    gap: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 10px auto;
    padding: 4px 24px;

}

.round .circle {
    border-radius: 50%;
    background-color: #3F7D58;
    width: 13px;
    height: 13px;

}


.hero .main-heading {
    font-family: 'Sansation';
    margin: 30px 15px;
    text-align: center;
}

.hero .main-heading h1 {
    font-family: 'Sansation';


}

.hero .subheading p {
    max-width: 417px;
    text-align: center;
    font-family: 'Open Sans';
    margin: 20px;
    color: var(--font-colour-800);

}

.hero .get-started-btn {
    display: flex;
    gap: 10px;
    border-radius: 20px;
    padding: 16px 20px;
    margin-bottom: 10px;
    font-size: 16px;
    background-color: var(--secondary-colour);
    color: white;
    min-width: 147px;
    min-height: 52px;
}

.get-started-btn img {
    width: 20px;
    height: 20px;

}

.hero-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.hero-image-about {
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    text-align: center;
}

.about p span {
    color: var(--primary-colour);
}

.about p {
    font-size: 16px;

}

/* 5. Get Started Section */

/* navigations arrow size */
.slide-navigations img {
    width: 30px;
    height: 30px;
}

/* arrow size */
.second-slide .get-started-heading .navigation {
    width: 30px;
    height: 30px;
}
.second-slide .get-started-heading{
    display: flex;
    align-items: center;
    justify-content: space-between; 
} 
.second-slide .fertilizer img{
    width: 150px;
}
.slides{
    display: flex;
    flex-direction: row;


}

/* .curousel-heading {
    position: absolute;
    left: 22%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 150px;
    justify-content: space-between;
    align-items: center;

} */



/* .slides {
    display: flex;
    flex-direction: row;
    height: 700px;
    background-color: #262A2D;
    position: relative;


} */

/* .get-started .slides figure {
    position: absolute;
    padding: 0;
    margin: 10px;
    color: var(--font-colour-800);
    text-align: right;
} */

.get-started .slides figure img {

    border-radius: 20px;
    height: 300px;
    max-width: 200px;
    object-fit: cover;
} 



/* .get-started .slides:nth-child(0) figure img{
    position: absolute;
    top: 300px;
} */

/* MEDIAQUERRY */
/* samll tab styles */
@media screen and (min-width:620px) {}

/*  tab styles */
@media screen and (min-width:960px) {
    :root {
        --font-size-h1: 56px;
        --font-size-h2: 42px;
        --font-size-h3: 32px;
        --font-size-h4: 24px;
        --font-size-body: 16px;
        --font-size-cta: 14px;
    }
}

/* desktop tab styles */
@media screen and (min-width:1200px) {
    :root {
        /* default font sizes - desktop   */

        --font-size-h1: 74px;
        --font-size-h2: 56px;
        --font-size-h3: 42px;
        --font-size-h4: 32px;
        --font-size-body: 20px;
        --font-size-cta: 16px;
    }
}